body {   
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.intro {
    display: flex;
    flex-direction: column;
    color:  #E9E7EB; 
    font-size: 18px;
    font-family: sans-serif;
    width: 50%;
    padding: 0px;
}

a {
    padding: 0 10px 0 10px;
    text-decoration: none;
    color:  #E9E7EB; 
    font-size: 18px;
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.h-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.h-middle {
    display: flex;
    justify-content: space-around;
    padding: 150px 200px;
}

.h-image {
    display: flex;
    width: 100vh;
    width: 50%;
}

.body {
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
    justify-content: space-around;
    padding: 0 200px;
}

.b-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: red 1px solid;
}

.info{
    display: flex;
    border: red 1px solid;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 16px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
}

.b-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vh;
    height: auto;
    flex-wrap: nowrap;
    border: red 1px solid;
}

.image-1, .image-2, .image-3, .image-4 {    
    display: flex;
    flex-direction: column;
}

.i-1, .i-2, .i-3, .i-4 {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border: #3882f6 4px solid;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
}

.image-text-1, .image-text-2, .image-text-3, .image-text-4 {
    display: flex;
}

.b-quote {
    display: flex;
    flex-direction: column;
    border: red 1px solid;
}

.quote {
    display: flex;
    justify-content: left;
    border: red 1px solid;
}

.author {
    display: flex;
    justify-content: right;
    border: red 1px solid;
}

.b-action {
    display: flex;
    justify-content: space-between;
    border: red 1px solid;
}

.b-text{
    display: flex;
    flex-direction: column;
    border: red 1px solid;
}

.call {
    display: flex;
    border: red 1px solid;
}

.signup {
    display: flex;
}

.button1 {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 30px;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: bold;
    width: 120px;
}

.footer {
    display: flex;
    justify-content: center;
}



