body {   
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.intro {
    display: flex;
    flex-direction: column;
    color:  #949aa3; 
    font-size: 18px;
    font-family: sans-serif;
    width: 50%;
    padding: 0px;
}

a {
    padding: 0 10px 0 10px;
    text-decoration: none;
    color:  #949aa3; 
    font-size: 18px;
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.h-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.h-middle {
    display: flex;
    justify-content: space-around;
    padding: 150px 200px;
}

.h-image {
    display: flex;
    width: 100vh;
    width: 50%;
}

.body {
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
    justify-content: space-around;
    padding: 0 200px;
}

.b-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    display: flex;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 16px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
}

.b-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vh;
    height: auto;
    flex-wrap: nowrap;
    padding: 0 0 120px 0;
}

.image-1, .image-2, .image-3, .image-4 {    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.i-1, .i-2, .i-3, .i-4 {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border: #3882f6 4px solid;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
}

.image-text-1, .image-text-2, .image-text-3, .image-text-4 {
    display: flex;
    align-items: center;
    margin: 16px;
}

.p2 {
    font-family: sans-serif;
    font-size: 18px;
    color: #959ba2;
    margin: 8px 24px 8px 24px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
}

.b-quote {
    display: flex;
    flex-direction: column;
    width: 100vh;
    padding: 120px;
}

.quote-text {
    display: flex;
    justify-content: left;
    font-family: sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.p3 {
    margin: 0 32px 0 32px;
}

.author {
    display: flex;
    justify-content: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

.p4 {
    margin: 0 32px 0 32px;
}

.b-action {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border: #3882f6;
    border-radius: 16px;
    margin: 100px 200px 100px 200px;
    padding: 50px 120px 50px 120px;
    justify-content: space-between;
    align-items: center;
}

.h3-1 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
}

.p5 {
    font-family: sans-serif;
    font-size: 18px;
    color: #f9faf8;
    margin: 0;
    font-weight: lighter;
}

.b-text{
    display: flex;
    flex-direction: column;
}

.call {
    display: flex;
}

.signup {
    display: flex;
}

.button1 {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 30px;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: bold;
    width: 120px;
    border: 0px;
    justify-content: center;
}

.button2 {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 30px;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: bold;
    width: 120px;
    border: #f9faf8 2px solid;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 20px 0 20px 0;
    color: #f9faf8;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: lighter;
}



